.navbar {
    background-color: var(--color-ravn-black);
    height: 52px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
    display: flex;
}

.navbar h2 {
    color: #f2f2f2;
    font-size: 17px;
    line-height: 20px;
    align-self: center;
    margin-left: 33px;
}