.section-detail {
   padding: 0 15%;
}

.detail {
    width: 100%;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.text-light {
    color: var(--color-light);
    font-size: 15px;
    font-weight: 700;
}

.margin-2 {
    margin-top: 2rem;
}